body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f7f7f7;
}

h1 {
    font-size: 48px;
}

.container {
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    text-align: center;
    max-width: 600px;
    padding: 30px;
    border-radius: 10px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

form input[type="text"] {
    padding: 10px;
    border: 1px solid #f1f1f1;
    margin-right: 3px;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    width: 60%;
}

form input[type="submit"] {
    background-color: rgb(59, 124, 255);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: rgb(27, 103, 255);
    transform: scale(0.98);
} 

.icon img{
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.temperature {
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0;
}

.description {
    font-size: 24px;
    margin-bottom: 20px;
}

.details {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.details > div {
    padding: 20px;
    background-color: #f1f1f1;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    min-height: 45px;
    line-height: 45px;
}

@media (max-width: 768px) {
    .container {
        margin: 10px;
    }

    form {
        flex-direction: column;
    }

    input {
        margin: 5px;
    }

    form input[type="text"] {
        width: 100%;
    }
}
